<h1>These are the NYC landmarks!</h1>
<% @landmarks.all.each do |landmark| %>
  <p>
    <strong>
      <a href="/landmarks/<%=landmark.id%>" target="_blank"><%=landmark.name%></a><br>
      Year Completed: <%=landmark.year_completed%>
    </strong>
  </p>
<% end %>
