<h1>Create a landmark</h1>
<form method="POST" action="/landmarks">
  Name:
  <input type="text" name="landmark[name]" id="landmark_name">
  <br><br>
  Year Completed:
  <input type="number" name="landmark[year_completed]" id="landmark_year_completed">
  <br><br>
  <input type="submit" value="Create New Landmark">

</form>
