<form action="/landmarks" method="post">
    
    <h3>Landmark name</h3>
    <input type="text" name="landmark[name]" placeholder="Landmark Name" id="landmark_name">
    <br><br>
    <h3>Year Completed</h3>
    <input type="text" name="landmark[year_completed]" placeholder="Year Completed" id="landmark_year_completed">

    <input type="submit" value="Create New Landmark" id="Create New Landmark"><br>

</form>