<h1>Creates a new figure!</h1>

<form method="POST" action="/figures">
  <label>Enter Name:</label>
  <input type="text" name="figure[name]" id="figure_name">
  <input type="submit" name="submit">
</form>
