<form action="/figures" method="post">
    <h3>Figure name</h3>
    <input type="text" name="figure[name]" placeholder="Figure Name"><br><br>
    <h3>Figure Title</h3>
    <% Title.all.each do |title|%>
        <input type="checkbox" value="<%= title.id %>" name="figure[title_ids][]"> <%= title.name %> </input>
        <br><br>
    <% end %>
    <h3>Create New Title</h3>
    <input type="text" name="title[name]" placeholder="Title Name"><br><br>
    <h3>Figure Landmark</h3>
    <% Landmark.all.each do |landmark| %>
        <input type="checkbox" value="<%= landmark.id %>" name="figure[landmark_ids][]"><%= landmark.name %> </input><br><br> 
    <% end %>
    <h3>Create New Landmark</h3>
    <input type="text" name="landmark[name]" placeholder="Landmark Name"><br><br>
    <input type="submit" value="submit" id="submit"><br>
</form>