<!DOCTYPE html>
<html>
<head>
  <title>Our Awesome App</title>
</head>
<body>
<h1>Welcome to NYC Sinatra!</h1>
<p><a href="/landmarks">View Landmarks!</a></p>
<p><a href="/figures">View Figures!</a></p>
</body>
</html>
